.results__card {
  min-height: 380px;
  margin: 30px 8px 10px;
  text-align: center;
}

.results__header {
  min-height: 40px;
  padding: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results__header:hover {
  display: block;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.results__header a {
  text-decoration: none;
  cursor: pointer;
  color: #0069d9;
}

.results__header a:hover {
  text-decoration: none;
  color: #000;
}

.results__img {
  width: 120px;
}

.results__button {
  margin: 20px auto 0;
}

.results__badge {
  margin-left: 10px;
}

.badge {
  font-size: 80% !important;
}

.results__pagination {
  margin: 20px auto 0;
}

@media (max-width: 576px) {
  .results__card {
    min-height: 350px;
  }
}