.spinner__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

.spinner__custom {
  margin-right: 20px;
}